extends layout

block content
  #SearchContainer
    h1= name_v
    h5 Finding the financial information you need
    form.form-inline
      .form-group
        input#SeachInput.form-control
        button.btn Search
