extends layout

block content
  #SearchContainer
    h1= name_v
    h5 Finding the financial information you need
    #search.form-group
      input#SearchInput(v-model="query", type="text")
      button.btn(type="submit") Search
      p {{ query }}

